[submodule "playbooks/roles/jpic.ansible"]
	path = playbooks/roles/jpic.ansible
	url = https://github.com/jpic/jpic.ansible.git
[submodule "playbooks/roles/package"]
	path = playbooks/roles/package
	url = https://github.com/GROG/ansible-role-package.git
[submodule "home/.vim/bundle/Vundle.vim"]
	path = home/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "jpic.dotfiles"]
	path = playbooks/roles/jpic.dotfiles
	url = https://github.com/jpic/jpic.dotfiles.git
[submodule "playbooks/roles/jpic.superadmin"]
	path = playbooks/roles/jpic.superadmin
	url = https://github.com/jpic/jpic.superadmin.git
